@import 'variables.scss';
@import 'mixins.scss';

.footer{
    background-color: $gray-800;
    color: $gray-200;
    padding: 1rem 0;

    text-align: center;

    @include atSmall {
        font-size: 0.75rem;
    }
}