@import 'variables.scss';
@import 'mixins.scss';

.aboutContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3rem;

    h2{
        font-size: 30pt;
    }
    span{
        color: $gray-600;
        font-weight: 500;
    }
    span:hover{
        color: $secondary-color;
    }

    .aboutContent{
        p{
            line-height: 1.6;
            margin-bottom: 1.5rem;
        }
    
        a{
            color: $gray-800;
            border: 1px solid $gray-800;
        }
    
        a:hover, button:hover {
            color: $white;
            background-color: $gray-800;
        }
    }

    @include atMedium {
        display: block;
        text-align: center;

        .aboutContent{
            margin-top: 2rem;
        }
    }
}

.bannerSection{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url(https://images.unsplash.com/photo-1560179707-f14e90ef3623?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    padding: 4rem 0;
    text-align: center;
    color: $white;

    h2{
        margin-bottom: 1rem;
        font-weight: 700;
    }

    .experienceContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 1rem 0;

        p{
            font-weight: 100;
        }
    }

    @include atMedium {
        p{
            display: none;
        }

        .experienceContainer {
            grid-template-columns: repeat(2, 1fr);

            .experienceItem{
                margin: 1rem 0;
            }

            p{
            display: block;
            }
        }
    }
}

.areaSection{
    padding: 1rem 0;
    text-align: center;

    h2{
        padding: 1rem 0;
        font-size: 2rem;
    }

    .cardContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .card{
            margin: 1rem;
            padding: 1rem;
            line-height: 1.6;
            border-radius: 10px;
    
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
        }
    }

    @include atMedium {
        .cardContainer{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include atSmall {
        .cardContainer{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

